<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <IconUrl>http://tfs-nugetserver.payoneer.com/images/PayoneerIcon.ico</IconUrl>
  <ProjectUrl>http://tfs:8090/tfs/DefaultCollection/Payoneer/_git/infrastructure-redis-repository</ProjectUrl>
  <LicenseUrl>http://tfs:8090/tfs/DefaultCollection/Payoneer/_git/infrastructure-redis-repository</LicenseUrl>
  <Authors>Payoneer</Authors>
  <Owners>Payoneer</Owners>
  <Copyright>Copyright Payoneer 2017+</Copyright>
  <Description>Redis repository</Description>
  <Summary>Redis repository</Summary>
  <Keywords>Redis, Repsitory, Context, NoSQL, DAL</Keywords>
  <DoIncludeCurrentProjectInNuSpec>true</DoIncludeCurrentProjectInNuSpec>
  <DoIncludeSources>true</DoIncludeSources>
</NuGetPack>