<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <ProjectUrl>https://github.com/pub-comp/redis-context</ProjectUrl>
  <LicenseUrl>https://github.com/pub-comp/redis-context</LicenseUrl>
  <Authors>Amit Lavian, Danny Varod</Authors>
  <Owners>PubComp</Owners>
  <Copyright>Copyright PubComp 2018+</Copyright>
  <Description>Redis repository</Description>
  <Summary>Redis repository</Summary>
  <Keywords>Redis, Repsitory, Context, NoSQL, DAL</Keywords>
  <DoIncludeCurrentProjectInNuSpec>true</DoIncludeCurrentProjectInNuSpec>
  <DoIncludeSources>true</DoIncludeSources>
</NuGetPack>