<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false" throwConfigExceptions="true" autoReload="true" internalLogFile="c:\logs\nlog-internal-log.txt" internalLogLevel="Warn">

    <variable name="multiLineLayout" value="Date: ${longdate} | Level: ${level} | CorrelationId: ${mdlc:CorrelationId} | VirtualServiceId: ${mdlc:VirtualServiceId} | Source: ${callsite}${newline}Message: ${message}${newline}${onexception:Exception\: ${exception:format=tostring}${newline}}"/>

    <targets async="false">
      <target name="null" xsi:type="null"/>
      <target name="console" xsi:type="Console" layout="${multiLineLayout}${newline}"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="console"/>
    </rules>

  </nlog>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
